<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Planetary Data Table</title>
    
    <link rel="stylesheet" href="./styles/index.css">
  </head>
  <body>
    
    <h1>🌎 Planetary Static Site Generator</h1>
    
    <table>
        <!--
        De-couple HTML & CSS
        
        <colgroup>
            <col/>
            <col/>
            <col style="border: 4px solid black;"/>
        </colgroup>
        -->
        
        <caption>
            Data about the planets of our solar system (Planetary facts taken from <a target="_blank" href="http://nssdc.gsfc.nasa.gov/planetary/factsheet/">Nasa's Planetary Fact Sheet - Metric</a>).
        </caption>
        
        <thead>
            <th colspan="2"></th>
            <th>Name</th>
            <th>Mass (10<sup>24</sup>kg)</th>
            <th>Diameter (km)</th>
            <th>Density (kg/m<sup>3</sup>)</th>
            <th>Gravity (m/s<sup>2</sup>)</th>
            <th>Length of day (hours)</th>
            <th>Distance from Sun (10<sup>6</sup>km)</th>
            <th>Mean temperature (°C)</th>
            <th>Number of moons</th>
            <th>Notes</th>
        </thead>
        
        <tbody>
            {table_body}
        </tbody>
    </table>
    
  </body>
</html>
